.Counter {


	button {
		padding: 5px 20px;
		font-size: 18px;
		font-weight: 700;
		margin-right: 15px;
		color: #fff;
		border-radius: 3px;
		&:hover {
			cursor: pointer;
			background-color: yellow;
			color: #000;
		}
	}
}

.add {
	background-color: red;
}
.sub {
	background-color: blue;
}